@use "layout";
@use "pages";
@use "components";
@use "base";
@use "abstracts/colors" as *;

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(135deg, $background-1, $background-2, $background-1);
  overflow-x: hidden;
}
