@use "../abstracts/" as *;

.hero {
  @include flex(column, center, center);
  padding-top: 20vh;
  position: relative;
  overflow: hidden;
  &__container {
    display: none;
    //position: relative;
  }
  transition: box-shadow .5s ease-in;
}

@include media(">tablet") {
  .hero {
    min-height: 100vh;
    padding-top: 20vh;
    &__container {
      display: flex;
      @include flex(column, center, center);

      h2 {
        padding: 1rem 0;
      }
      h1 {
        padding: 0 0 2rem 0;
      }
    }
    .hero__title {
      letter-spacing: 1.5px;
      font-weight: 500;
      &--main {
        font-weight: 700;
      }
    }
    .hero__title--main {
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
    .hero__search {
      margin-top: 2rem;
    }
  }
}
