@use "../abstracts/" as *;

.hero {
  min-height: 100vh;
  padding-top: 20vh;
  @include flex(column, center, center);
  position: relative;
  overflow: hidden;

  /* iPad Pro */
  @media screen and (min-width: 1024px) and (min-height: 1366px) {
    min-height: 50vh;
  }

  @include media("<=tablet") {
    min-height: 50vh;
  }

  @include media("<=phoneL") {
    min-height: 40vh;
  }

  @include media("<=phone") {
    min-height: 50vh;
  }

  &__carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    img {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: -1;

      /* iPad Pro */
      @media screen and (min-width: 1024px) and (min-height: 1366px) {
        position: absolute;
        height: 50vh;
      }

      @include media("<=tablet") {
        position: absolute;
        height: 50vh;
      }
    }
    img.fadeIn {
      opacity: 1;
    }

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      background: rgba(0, 0, 0, 0.3);

      /* iPad Pro */
      @media screen and (min-width: 1024px) and (min-height: 1366px) {
        position: absolute;
        min-height: 52vh;
      }

      @include media("<=tablet") {
        position: absolute;
        min-height: 52vh;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 52vh;

      /* iPad Pro */
      @media screen and (min-width: 1024px) and (min-height: 1366px) {
        background: linear-gradient(0deg, $background 5%, transparent);
      }

      @include media("<=tablet") {
        background: linear-gradient(0deg, $background 5%, transparent);
      }
    }
  }

  &__container {
    display: flex;
    @include flex(column, center, center);
    z-index: 1;
    position: relative;

    h2 {
      padding: 1rem 0;
    }
    h1 {
      padding: 0 0 2rem 0;
    }
  }
  .hero__title {
    letter-spacing: 1.5px;
    font-weight: 500;
    &--main {
      font-weight: 700;
    }
  }
  .hero__title--main {
    background: linear-gradient($deg1, $search-1, $search-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  transition: box-shadow 0.5s ease-in;
}

.from-left {
  position: relative;
  top: 0;
  left: -1000px;

  &.active {
    position: relative;
    left: 0;
  }
}
.from-top {
  position: relative;
  top: -1000px;
  //transition: top 0.5s ease 0.5s;

  &.active {
    position: relative;
    top: 0;
  }
}
.from-right {
  position: relative;
  top: 0;
  right: -1000px;
  //transition: right 0.5s ease 1s;

  &.active {
    position: relative;
    right: 0;
  }
}
.from-bottom {
  position: relative;
  bottom: -1000px;
  //-webkit-text-fill-color: currentColor;
  //transition: bottom 0.5s ease 1.5s;
  background: linear-gradient($deg1, $search-1, $search-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  &.active {
    bottom: 0;
    background: linear-gradient($deg1, $search-1, $search-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
