@use "layout";
@use "pages";
@use "components";
@use "base";
@use "abstracts" as *;

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

