@use "./buttons";
@use "../abstracts/" as *;

.movies {
  .movies__nav {
    position: relative;
    height: 10rem;
    width: 100vw;
    @include flex(row, center, center);
    margin-top: 2rem;
    
    .fas {
      font-size: 3rem;
      position: absolute;
      color: white;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.5s ease;
      height: 100%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }

    .fa-chevron-right{
      right: 10%;
    }

    .fa-chevron-left {
      left: 10%;
      opacity: 0;
    }

    .line {
      position: absolute;
      width: 100vw;
      height: 0.5px;
      background: $search-2;
      border: none;
      left: 0;

      &__top {
        top: 1rem;
      }
      &__bottom {
        bottom: 1rem;
      }
    }

    @include media(">phoneL") {
      .line {
        width: 80%;
        transform: translateX(-50.55%);
        left: 50%;
      }
    }
  }

  &__genres {
    min-height: 5rem;
    width: 100%;
    padding: 1rem 0;
    @include flex(row, flex-start, center);
    position: relative;
    left: 0;
    transition: left 0.3s linear;

    .genres__btn {
      margin: 0 2.5rem;
    }

    @include media(">tablet") {
      @include flex(row, flex-start, center);
    }
  }

  // ::-webkit-scrollbar {
  //   height: 10px;
  // }
  // /* Track */
  // ::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
  //   border-radius: 10px;
  // }

  // /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: linear-gradient(180deg, $search-1, $search-2);
  //   border-radius: 10px;
  // }

  // /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   background: linear-gradient(90deg, $search-2 30%, $search-1);
  // }

  ::-webkit-scrollbar {
    display: none;
  }
  
}

.movies__slider{
  overflow-x: scroll;
  @include flex(row, flex-start, center);
  width: 70%;
  box-shadow: inset -31px 0px 20px -25px #ffffff10;
  transition: box-shadow .5s ease;
}