@use "./buttons";
@use "../abstracts/" as *;

.movies {
  .movies__nav {
    position: relative;
    height: 8em;
    width: 100vw;
    @include flex(row, center, center);
    margin-top: 2rem;
    z-index: 1;

    .fas {
      font-size: 2rem;
      position: absolute;
      color: white;
      cursor: pointer;
      transition: all 0.35s ease;
      height: 100%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      display: none;

      @include media(">phoneL") {
        display: flex;
      }
    }

    .fa-chevron-right {
      right: 10%;

      @include media("<=tablet") {
        right: 3%;
      }

      @include hover-supported() {
        &:hover {
          transform: scale3d(1.5, 1.5, 1);
        }
      }
    }

    .fa-chevron-left {
      left: 10%;

      @include media("<=tablet") {
        left: 3%;
      }

      @include hover-supported() {
        &:hover {
          transform: scale3d(1.5, 1.5, 1);
        }
      }

      opacity: 0;
      cursor: default;
    }

    .line {
      position: absolute;
      width: 100vw;
      height: 0.5px;
      background: $search-2;
      border: none;
      left: 0;

      &__top {
        top: 1rem;
      }
      &__bottom {
        bottom: 1rem;
      }
    }

    @include media(">phoneL") {
      .line {
        width: 80%;
        transform: translateX(-50.55%);
        left: 50%;
      }
    }
  }

  &__genres {
    width: 100%;
    @include flex(row, space-between, center);
    position: relative;
    left: 0;
    transition: left 0.3s linear;

    .genres__btn {
      margin: 0 1rem;
    }

    @include media(">tablet") {
      @include flex(row, flex-start, center);
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.movies__slider {
  overflow-x: scroll;
  @include flex(row, flex-start, center);
  width: 100%;
  transition: box-shadow 0.5s ease;

  @include media(">phoneL") {
    width: 70%;
  }
}
