@use "./buttons";
@use "../abstracts" as *;

.navbar {
  position: fixed;
  width: 100%;
  padding: 1em;
  top: 0;
  z-index: 200;
  transition: all 0.3s ease;
  @include flex(row, space-between, center);

  @supports (backdrop-filter: blur(10px)) {
    &.active{
      backdrop-filter: blur(10px);
    }
  }

  @supports not (backdrop-filter: blur(10px)) {
    &.active{
      background: rgba(7, 0, 20, 0.8);
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    margin-left: 1em;
    svg {
      width: 5.8rem;
    }
  }

  &__right {
    @include flex(row, flex-end, center);
    position: relative;

    .menu__list {
      display: none;
    }
  }

  &__menu {
    display: none;
  }

  &__search {
    margin-right: 2em;
    position: relative;
  }

  &__button {
    display: none;
  }

  &__input {
    border: none;
    height: 2em;
    padding-top: 0.3em;
    padding-left: 2em;
    width: 8rem;
    z-index: -1;
    transition: all 0.3s ease;
    background: transparent;
    color: $text;
    position: relative;
    outline: none;
    z-index: 1;
  }

  .underline {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 17px;
    height: 1px;
    display: block;
    transition: background 0.3s linear;
  }

  .fa-search {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: $search-2;
    animation: colorChange 5s linear infinite alternate;
  }

  .fa-play {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: $search-2;
    animation: colorChange 5s linear infinite alternate;
    opacity: 0;
    display: none;
    transition: opacity 0.3s linear;
    z-index: 1;
    cursor: pointer;
  }

  &__input.slide-left {
    width: 15rem;
  }

  @keyframes colorChange {
    0% {
      color: $search-2;
    }
    20% {
      color: $search-1;
    }
    40% {
      color: $search-2;
    }
    60% {
      color: $search-1;
    }
    80% {
      color: $search-2;
    }
    100% {
      color: $search-1;
    }
  }

  &__burger {
    height: 100%;
    margin-right: 1em;
    @include flex(row, center, center);
    cursor: pointer;

    img {
      width: 2.5rem;
      height: 1.5rem;
    }
  }
}

@include media(">phoneL") {
  .navbar {
    @include flex(row, space-between, center);

    &__logo {
      svg {
        width: 8rem;
      }
    }

    &__input.slide-left {
      width: 20rem;
    }

    &__burger {
      margin-right: 1.5em;
      img {
        width: 3rem;
        height: 2rem;
      }
    }
  }
}

@include media("<desktop", ">tablet") {
  .navbar {
    @include flex(row, space-between, center);

    &__logo {
      // margin-left: 1rem;
      svg {
        width: 10rem;
      }
    }

    &__right {
      margin-right: 1rem;
    }

    &__burger {
      margin-right: 0;
    }

    &__search {
      input {
        display: none;
      }
      .fa-search {
        display: none;
      }
    }

    &__button {
      display: block;
    }
  }
}

@include media("<=LGdesktop", ">desktop") {
  .navbar {
    @include flex(row, space-between, center);

    &__logo {
      svg {
        width: 10rem;
      }
    }

    &__right {
      .menu__list {
        width: 40rem;
        //margin-right: 5em;
        @include flex(row, space-around, center);

        .list__item {
          list-style: none;
          a {
            font-size: 1.6rem;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.5px;
            cursor: pointer;

            &:hover {
              background: linear-gradient($deg1, $search-1, $search-2);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-background-clip: text;
              -moz-text-fill-color: transparent;
            }
          }
        }
      }
    }

    &__search {
      margin-right: 3em;

      input {
        display: none;
      }
      .fa-search {
        display: none;
      }
    }

    &__button {
      display: block;
    }

    &__burger {
      display: none;
    }
  }
}
