@use "./buttons";
@use "../abstracts" as *;

.navbar {
  position: fixed;
  width: 100%;
  padding: 1em;
  top: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
  // @include grid(12);
  @include flex(row, space-between, center);

  &__left {
  }

  &__logo {
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    svg {
      width: 5.8rem;
    }
  }

  &__right {
    @include flex(row, flex-end, center);
    position: relative;

    .menu__list {
      display: none;
    }
  }

  &__menu {
    display: none;
  }

  &__search {
    margin-right: 2em;
  }

  &__burger {
    height: 100%;
    margin-right: .5em;
    @include flex(row, center, center);
    cursor: pointer;

    img {
      width: 2.5rem;
      height: 1.5rem;
    }
  }
}

@include media(">phoneL") {
  .navbar {
    @include flex(row, space-between, center);

    &__logo {
      svg {
        width: 8rem;
      }
    }

    &__right {
    }

    &__subscribe {
      margin-right: 2rem;
    }

    &__burger {
      margin-right: 2rem;
      img {
        width: 3rem;
        height: 2rem;
      }
    }
  }
}

@include media("<desktop",">tablet") {
  .navbar {
    @include flex(row, space-between, center);

    &__logo {
      // margin-left: 1rem;
      svg {
        width: 10rem;
      }
    }

    &__right {
      margin-right: 1rem;
    }

    &__burger {
      margin-right: 0;
    }
  }
}

@include media("<=LGdesktop", ">desktop") {
  .navbar {
    @include flex(row, space-between, center);

    &__logo {
      svg {
        width: 10rem;
      }
    }

    &__right {
      .menu__list {
        width: 40rem;
        //margin-right: 5em;
        @include flex(row, space-around, center);

        .list__item {
          list-style: none;
          a {
            font-size: 1.6rem;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.5px;
            cursor: pointer;

            &:hover {
              background: linear-gradient($deg1, $search-1, $search-2);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-background-clip: text;
              -moz-text-fill-color: transparent;
            }
          }
        }
      }
    }

    &__search {
      margin-right: 3em;
    }

    &__burger {
      display: none;
    }
  }
}
