@use "../abstracts" as *;

.menu__search {
  //border: 1px solid white;
  width: 31.4rem;
  height: 22rem;
  @include flex(column, flex-start, center);
  margin-top: 5rem;
}

.search__header {
  //border: 1px solid white;
  width: 100%;
  height: 11.6rem;
  @include flex(column, center, center);

  .search__title {
    line-height: 2.5rem;
    color: $text;
    letter-spacing: 0.5px;
    span {
      @include flex(row, center, center);
    }
  }
}

.search__container {
  //border: 1px solid white;
  width: 100%;
  height: 11rem;
  @include flex(column, flex-start, center);

  .search__bar {
    //border: 1px solid white;
    height: 3.9rem;
    @include flex(row, center, center);
    position: relative;

    &:hover {
      .search__underline {
        visibility: visible;
      }
      .fa-play {
        visibility: visible;
      }
    }

    i {
      font-size: 1.4rem;
      color: $text;
    }
    input {
      border: none;
      width: 20rem;
      background: transparent;
      color: $text;
      padding-left: 1rem;
      font-size: 1.6rem;
      outline-style: none;
      font-weight: 400;
    }
    .fa-play {
      visibility: hidden;
      cursor: pointer;
    }

    .search__underline {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: 17px;
      background: $text;
      border-bottom: 1px solid $text;
      visibility: hidden;
    }
  }
}

@include media(">=phoneL", "<=tablet") {
  .menu__search {
    width: 100%;
  }

  .search__title {
    font-size: 3.6rem;
    font-weight: 400;

    span {
      line-height: 3.5rem;
      margin-top: 2.5rem;
      font-weight: 600;
      text-transform: uppercase;
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }

  .search__container {
    @include flex(column, center, center);

    .search__bar {
      i {
        font-size: 2rem;
        color: $text;
      }
      input {
        width: 30rem;
        font-size: 2.4rem;
      }

      .search__underline {
        margin-top: 24px;
      }
    }
  }
}

@include media(">tablet") {
  .menu__search {
    box-shadow: 0 0 10px 0 #ffffff;
  }

  .search__header {
    text-align: center;
    h3 {
      letter-spacing: 1px;
      font-weight: 500;
    }
  }

  .search__container {
    @include flex(column, center, center);

    .search__bar {
      
      i {
        font-size: 2rem;
      }
      input {
        width: 100%;
        font-size: 2.4rem;
      }

      .search__underline {
        margin-top: 24px;
      }
    }
  }
}
