@use "../abstracts/" as *;
@use "../base/font-face" as *;

.movie__trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .fa-play-circle {
    font-size: 6rem;
    cursor: pointer;
    opacity: 0.5;
    color: $search-1;
    transition: 0.35s ease-in-out;

    @include media("<tablet") {
      font-size: 6rem;
      opacity: 0.5;
    }

    &:hover{
      opacity: 1;
    }
  }

  .circle,
  .circle_2 {
    border: 1px solid $search-1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s ease;
    opacity: 0;
  }

  .circle_2 {
    border: 1px solid $search-2;
  }

  .circle {
    animation: createCircles 1.5s linear infinite 1s;
  }
  .circle_2 {
    animation: createCircles 1.5s linear infinite 1.3s;
  }
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa-times-circle {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.2;
  color: $search-1;
  cursor: pointer;
  z-index: 2;
  transition: all 0.35s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @include media("<=tablet") {
    top: 10px;
  }
}

.trailer {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.35s ease-in-out;
  z-index: 1;

  h3 {
    color: $search-1;
    font-weight: 600;
  }
}

@keyframes createCircles {
  0% {
    height: 6rem;
    width: 6rem;
    opacity: 1;
  }
  100% {
    height: 10rem;
    width: 10rem;
    opacity: 0;
  }
}


//Modify youtube player
.ytp-youtube-button,
.ytp-title,
.ytp-watch-later-button,
.ytp-title-channel{
  display: none;
}
