@use "../abstracts" as *;
@use "./font-face" as *;

h1,
h2,
h5,
h6,
a,
p,
title{
  font-family: $font;
  color: $text;
}

h4, h3{
  font-family: $font;
  color: auto;
}

$font-sizes: (
  h1: clamp(4rem , 5vw, 7.2rem),
  h2: clamp(3rem, 5vw, 5.6rem),
  h3: clamp(2.8rem, 5vw, 3.6rem),
  h4: clamp(2rem, 1.5vw, 2.4rem),
  h5: clamp(1.6rem, 1vw, 1.8rem),
  h6: clamp(1.4rem, .5vw, 1.6rem),
  a: auto,
  p: 1.8rem,
  title: 1.6rem
);

@each $tag, $size in $font-sizes {
    #{$tag}{
        font-size: $size;
    }
}