@use "../abstracts/" as *;
@use "../base/font-face" as *;

button {
  font-family: $font;
}
.navbar__button {
  border: none;
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
  color: $background;
  background: linear-gradient($deg1, $search-1, $search-2);
  letter-spacing: 0.5px;
  font-weight: 500;

  @include media(">tablet") {
    width: 15rem;
    height: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      color: $text;
    }
  }

  @include media(">desktop") {
    margin-right: 0rem;
  }
}

.genre_btn {
  border: none;
  height: 4em;
  width: 100%;
  border-radius: 10px;
  background: transparent;
  color: $text;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include hover-supported() {
    &:hover,
    &:focus {
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
}
