@use "../abstracts/" as *;

.error {
  position: relative;
  top: 0;
  left: 0;
  width: 50rem;
  height: 50rem;
  @include flex(column, center, center);
  text-align: center;
  padding: 0 0 10em 0;

  svg {
    width: 100%;
    height: 100%;
    margin-bottom: 3em;
  }

  h3,
  h4 {
    color: white;
  }

  h4 {
    font-weight: 500;
  }

  a {
    background: linear-gradient($deg1, $search-1, $search-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
