@use "../abstracts" as *;

.menu__search {
  position: absolute;
  bottom: 0;
  margin-bottom: 0em;
  width: 100%;
  min-height: 22em;
  @include flex(column, center, center);
  backdrop-filter: blur(10px);
  transform: translateY(-25%);
}

.search__header {
  height: 11.6em;
  @include flex(column, center, center);

  .search__title {
    line-height: 2.5rem;
    color: $text;
    letter-spacing: 0.5px;
    span {
      @include flex(row, center, center);
    }
  }
}

.search__container {
  width: 100%;
  @include flex(column, flex-start, center);

  .search__bar {
    height: 3.9rem;
    @include flex(row, center, center);
    position: relative;

    &:hover {
      .search__underline {
        opacity: 1;
      }

      .search {
        opacity: 1;
      }
    }

    i {
      font-size: 1.4rem;
      color: $text;
    }

    input {
      border: none;
      width: 20rem;
      background: transparent;
      color: $text;
      padding-left: 1rem;
      font-size: 1.6rem;
      outline-style: none;
      font-weight: 400;
    }

    .search {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .search__underline {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: 17px;
      background: $text;
      border-bottom: 1px solid $text;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

@include media(">=phoneL") {
  .menu__search {
    width: 100%;
    margin-bottom: 0;
    transform: translateY(-50%);
  }

  .search__title {
    font-size: 3.6rem;
    font-weight: 400;

    span {
      line-height: 3.5rem;
      margin-top: 2.5rem;
      font-weight: 600;
      text-transform: uppercase;
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }

  .search__container {
    @include flex(column, center, center);

    .search__bar {
      i {
        font-size: 2rem;
        color: $text;
      }
      input {
        width: 30rem;
        font-size: 2.4rem;
      }

      .search__underline {
        margin-top: 24px;
      }
    }
  }
}

@include media(">tablet") {
  .menu__search {
    transform: none;
  }
}
