@use "../abstracts" as *;

.coming-soon {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s ease;

  h1 {
    background: linear-gradient($deg1, $search-1, $search-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  &.active {
    top: 30px;
    z-index: 200;

    @include media("<=tablet") {
      top: 0;
      height: 100vh;
      @include flex(row, center, center);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
      }

      h1 {
        z-index: 300;
      }
    }
  }
}

.movie-background {
  width: 100%;
  //height: 60%;
  z-index: -100;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -400px 200px 80px $background;
    transition: box-shadow 1s ease;

    @include media("<=desktop") {
      box-shadow: inset 0px -200px 200px 80px $background;
    }
  }

  &.active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px 0px 200px 200px $background;
      transition: box-shadow 1s ease;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* iPad Pro */
  @media screen and (min-width: 1024px) and (min-height: 1366px) {
    display: none;
  }

  @include media("<=tablet") {
    display: none;
  }
}

.movie-container {
  margin-top: 50vh;
  @include flex(row, center, center);

  /* iPad Pro */
  @media screen and (min-width: 1024px) and (min-height: 1366px) {
    margin-top: 0;
  }

  @include media("<=tablet") {
    margin-top: 0;
  }

  .movie {
    padding: 2em 4em;
    z-index: 100;
    @include flex(row, center, flex-start);

    @include media("<desktop", ">tablet") {
      padding: 0 3em;
    }

    /* iPad Pro */
    @media screen and (min-width: 1024px) and (min-height: 1366px) {
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      @include flex(column, flex-start, flex-start);
    }

    @include media("<=tablet") {
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      @include flex(column, flex-start, flex-start);
    }

    @include media("<=phoneL") {
      padding: 0;
    }

    &__image {
      flex: 1;
      border-radius: 10px;
      position: relative;
      left: 0;
      top: 0;
      transform: translateX(0);
      overflow: hidden;
      transition: 0.5s ease;
      z-index: 200;

      &.active {
        iframe {
          z-index: 2;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }

      &:hover {
        .fa-times-circle {
          top: 10px;
        }
      }

      @include media("<desktop", ">tablet") {
        //height: 42em;
      }

      /* iPad Pro */
      @media screen and (min-width: 1024px) and (min-height: 1366px) {
        border-radius: 0;
        margin-right: 0;

        &.active {
          overflow: visible;
          left: 0;
          transform: translate(0, 70%);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          .fa-times-circle {
            top: -100px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset -0px -50px 40px 10px $background;
        }
      }

      @include media("<=tablet") {
        border-radius: 0;
        margin-right: 0;

        &.active {
          overflow: visible;
          left: 0;
          transform: translate(0, 70%);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          .fa-times-circle {
            top: -100px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset -0px -50px 40px 10px $background;
        }
      }

      @include media("<=phoneL") {
        &.active {
          transform: translate(0, 100%);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__details {
      flex: 1.5;
      position: relative;
      padding: 1em;
      z-index: 100;
      transition: all 0.5s ease;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        border-radius: 10px;
        backdrop-filter: blur(5px);
      }

      /* iPad Pro */
      @media screen and (min-width: 1024px) and (min-height: 1366px) {
        padding: 1em 2em;
        width: 100vw;
        box-shadow: inset -0px 50px 80px 10px $background;

        &::after {
          border-radius: 0;
          backdrop-filter: none;
          background: $background;
        }
      }

      @include media("<=tablet") {
        padding: 1em 2em;
        width: 100vw;
        box-shadow: inset -0px 50px 80px 10px $background;

        &::after {
          border-radius: 0;
          backdrop-filter: none;
          background: $background;
        }
      }

      p {
        color: $text;
        word-spacing: 0rem;
      }
      h4 {
        font-weight: 700;
      }
      hr {
        border: none;
        height: 1px;
        background: linear-gradient(90deg, $search-1, rgba(183, 112, 201, 0.2));
        color: white;
        margin-bottom: 2em;
      }
      h5 {
        background: linear-gradient($deg1, $search-1, $search-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: 700;

        @include media("<desktop") {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__title {
      width: 100%;
      height: 100%;
      padding: 1em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        background: linear-gradient($deg1, $search-1, $search-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }

      .rating {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        background: linear-gradient($deg1, $search-1, $search-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

        .fa-star {
          margin-right: 0.5em;
          font-size: 1.6rem;
          background: linear-gradient($deg1, $search-1, $search-2);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
        }

        h5 {
          opacity: 0.5;
          margin-bottom: 0;
        }
      }
    }

    &__main-cast {
      width: 100%;
      margin: 1em 0;

      #more,
      #less {
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        margin-top: 1rem;
        cursor: pointer;
        background: linear-gradient(180deg, $search-1, $search-2);
      }
    }
    &__description {
      margin-top: 1em;
    }
  }
}

//Aside element with extra info
aside {
  flex: 1;
  margin-right: 2em;
  position: relative;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: 0.5s ease;

  @include media("<=tablet") {
    margin-right: 0;
  }

  .production {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    height: 10em;
    background: white;
    opacity: 1;
    transition: opacity 0.5s ease;

    @include media("<=tablet") {
      display: none;
    }

    &.active {
      opacity: 0;
    }
  }

  &.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.production--mobile {
  display: none;
  width: 100%;
  height: 5em;
  background: white;
  margin-top: 1em;

  @include media("<=tablet") {
    display: block;
  }
}
