@use "../abstracts" as *;

.movie-container {
  margin-top: 13em;
  @include flex(row, center, center);

  @include media("<=tablet") {
    margin-top: 8em;
  }

  @include media("<tablet") {
    margin-top: 6em;
  }

  .movie {
    min-height: 82.6vh;
    @include flex(row, center, flex-start);
    padding: 2em 4em;

    @include media("<desktop", ">tablet") {
      min-height: 78vh;
      padding: 0 3em;
    }

    @include media("<=tablet") {
      @include flex(column, flex-start, flex-start);
    }

    &__image {
      flex: 1.5;
      position: relative;

      @include media("<desktop", ">tablet") {
        height: 42em;
      }

      @include media("<=tablet") {
        height: 40em;
        width: 100vw;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset 0px 50px 150px 5px rgb(0, 0, 0, 0.9);
        }
      }

      @include media("<tablet") {
        height: 30em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__details {
      flex: 1;
      margin: 0 2em;
      //@include flex(column, space-around, flex-start);

      @include media("<desktop") {
        height: 42em;
      }

      @include media("<=tablet") {
        margin-top: 1em;
        padding: 0 2rem;
      }

      @include media("<tablet") {
        margin: 0 1em;
      }

      p {
        color: $text;
        word-spacing: 0rem;
      }
      h4 {
        font-weight: 700;
      }
      h5 {
        background: linear-gradient($deg1, $search-1, $search-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: 700;

        @include media("<desktop") {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__title {
      background: linear-gradient($deg1, $search-1, $search-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      letter-spacing: 1px;
      margin-bottom: 1em;
      @include media("<tablet") {
        margin: 0.5em 0;
      }
    }

    &__main-cast {
      width: 100%;
      margin: 1em 0;
    }
    &__description {
      margin-top: 1em;
    }
  }
}
