@use "../base/index";
@use "../abstracts/" as *;

.navbar__subscribe {
  width: 100%;
  height: 100%;
  @include flex(row, center, center);
  input {
    display: none;
    border: none;
    height: 3rem;
    width: 18rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 10px;
    background: $input;
    color: $text;
    font-weight: 400;
    letter-spacing: 0.5px;

    @include media("<=tablet", ">phoneL") {
      display: block;
    }

    @include media("<=desktop", ">tablet") {
      display: block;
      height: 4rem;
      width: 22rem;
    }

    @include media("<=LGdesktop", ">desktop") {
      display: block;
      height: 4rem;
      width: 22rem;
    }
  }
}
