@use "../abstracts/" as *;
@use "../base/font-face" as *;

@include media("<desktop") {
  .search__window {
    display: none;
  }
}
@include media(">=tablet") {
  .search__window {
    position: fixed;
    bottom: -50%;
    height: 0;
    //transform: translateX(50%);
    transition: bottom 0.5s ease-in-out;
    visibility: hidden;
    z-index: 5;

    .search__header {
      h4 {
        color: $text;
        font-weight: 500;
      }
    }
  }

  .search__window.show {
    display: flex;
    @include flex(column, center, center);
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: height 0.5s ease;
    overflow: hidden;
    z-index: 500;


    @supports (
      (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
    ) {
      backdrop-filter: blur(20px);
    }

    @supports not (
      (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
    ) {
      background: $background;
    }

    

    .fa-times {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2rem;
      color: $text;
      cursor: pointer;
      padding: 0.5em;
      z-index: 500;
    }

    .search {
      opacity: 0;
    }

    .fa-play {
      position: relative;

      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        border: none;
        visibility: hidden;
      }
    }
  }
}
